.movie-cardlist {
  padding: 0 70px;
  margin-top: 70px;
  color: black;
  display: flex;
  flex-direction: column;
}

.movies-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  column-gap: 20px;
  row-gap: 38px;
}

.movie-cardlist__btn {
  color: black;
  box-shadow: 5px 5px 6px 0px rgba(68, 68, 246, 0.2);
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  outline: 0;
  background-color: white;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  max-width: 320px;
  padding: 10px 0;
  margin: 50px auto 80px;
}

.movie-cardlist__btn:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .movie-cardlist {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies-items {
    grid-template-columns: repeat(auto-fill, 339px);
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-items {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

@media screen and (max-width: 689px) {
  .movies-items {
    grid-template-columns: repeat(auto-fill, 270px);
  }
}

@media screen and (max-width: 630px) {
  .movies-items {
    grid-template-columns: repeat(auto-fill, 339px);
  }
}

@media screen and (max-width: 768px) {
  .movie-cardlist {
    margin-top: 40px;
  }
}

@media screen and (max-width: 360px) {
  .movies-items {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}