.movies-item {
  margin: 0;
}

.movies-item__image {
  display: block;
  object-fit: cover;
  width: 270px;
  height: 151px;
  border-radius: 10px 10px 0px 0px;
}

.movies-item__footer {
  display: flex;
  margin: 14px 0 0;
  padding-bottom: 6px;
}

.movies-item__title {
  margin: 0;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding-left: 4px;
}

.movies-item__btn {
  cursor: pointer;
  background-image: url('../../images/heart.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50%;
  width: 24px;
  height: 24px;
  outline: 0;
  padding: 0;
  border: none;
  margin-left: auto;
}

.movies-item__btn:hover {
  opacity: 0.8;
}

.movies-item__btn_active {
  background-image: url('../../images/heart-red.svg');
}

.movies-item__subtitle {
  margin: 6px 0 0;
  padding-left: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  color: #8b8b8b;
  border-bottom: black;
  box-shadow: 5px 5px 6px 0px rgba(68, 68, 246, 0.2);
  border-radius: 0 0 10px 10px;
}


.movies-item__btn-delete {
  cursor: pointer;
  background-image: url('../../images/cross.svg');
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50%;
  width: 24px;
  height: 24px;
  outline: 0;
  padding: 0;
  border: none;
  margin-left: auto;
}

.movies-item__btn-delete:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .movies-item__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movies-item__image {
    width: 300px;
    height: 168px;
  }
}

@media screen and (max-width: 689px) {
  .movies-item__image {
    width: 270px;
    height: 151px;
  }
}

@media screen and (max-width: 630px) {
  .movies-item__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 360px) {
  .movies-item__image {
    width: 300px;
    height: 168px;
  }
}
