.movies {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}
    
.movies__error {
    color: #2439F0;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
}