.profile {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
}

.profile__form {
  color: black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
  min-width: 260px;
}

.profile__form-fieldset {
  padding: 0;
  margin: 0 0 220px;
  border: none;
}

.profile__form-title {
  text-align: center;
  margin: 0 auto 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form-input-container {
  position: relative;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__form-input {
  background-color: inherit;
  color: black;
  padding-bottom: 16px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  outline-style: none;
  flex-basis: 100%;
}

.profile__form-input-container:last-child {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 17px;
}

.profile__form-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0 auto 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: black;
  text-align: center;
  cursor: pointer;
}

.profile__form-errors {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #2439F0;
  text-align: center;
  font-size: 19px;
}

.profile__update-errors {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #2439F0;
  text-align: center;
  margin: 220px 0 20px;
  font-size: 19px;
}

.profile__form-button:hover {
  opacity: 0.7;
}

.profile__form-button_disabled {
  color: #2439F0;
  cursor: initial;
}

.profile__form-button_disabled:hover {
  opacity: 1;
}

.profile__form-button:last-child {
  margin: 0;
}

.profile__form-button_red {
  color: #df0d29;
}

@media screen and (max-width: 768px) {
  .profile {
    margin-top: 236px;
  }
}

@media screen and (max-width: 445px) {
  .profile {
    margin-top: 70px;
    padding-bottom: 40px;
  }
  .profile__form {
    min-width: 260px;
    width: 90%;
  }
  .profile__form-title {
    text-align: center;
    margin-bottom: 80px;
  }
  .profile__form-button {
    font-size: 12px;
    line-height: 15px;
  }
}
