.not-found {
  margin: 0;
}

.not-found__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 246px auto 60px;
}

.not-found__title {
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 5px;
}

.not-found__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.not-found__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  margin: 184px auto 0;
}

@media screen and (max-width: 768px) {
  .not-found__container {
    margin: 408px auto 222px;
  }
}

@media screen and (max-width: 445px) {
  .not-found__container {
    margin: 329px auto 30px;
  }
  .not-found__title {
    font-size: 80px;
    line-height: 97px;

    margin-bottom: 10px;
  }

  .not-found__subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 15px;
    margin: 284px auto 0;
  }
}
