.movies-list {
    max-width: 1140px;
    width: calc(100vw - 60px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 37px;
    column-gap: 27px;
    place-items: center;
    margin-top: 72px;
    padding-bottom: 120px;
}

.movies-list__loadmore {
    max-width: 320px;
    width: 100%;
    padding: 10px 145px;
    background-color: transparent;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    margin: 50px auto;
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .movies-list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 80px;
        row-gap: 30px;
        padding-bottom: 200px;
    }
}
    
@media screen and (max-width: 600px) {
    .movies-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
    
@media screen and (max-width: 320px) {
    .movies-list {
        margin-top: 47px;
        width: calc(100vw - 20px);
        row-gap: 11px;
    }
}
