.header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.header__logo {
  margin: 18px 0 0;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 360px) {
  .header {
    padding: 0 14px;
  }
}

