.footer {
  width: calc(100vw - 100px);
  margin: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
  
.footer__annotation {
  margin-top: 90px;
  font-size: 13px;
  color: #a0a0a0;
  text-align: center;
  letter-spacing: 0;
}

.footer__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #e8e8e8;
  margin-top: 20px;
  padding: 17px 0;
  font-size: 13px;
  max-width: 1140px;
  width: 100%;
}
  
.footer__links {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  color: #000000;

}

.footer__link {
  margin-left: 20.5px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  letter-spacing: 0;
  color: #000000;
  text-decoration-line: none;
}

.footer__link:hover {
  border-bottom: 1px solid black;
}

.footer__date {
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100vw - 46px);
  }

  .footer__annotation {
    margin-top: 49px;
  }
}

@media screen and (max-width: 380px) {

  .footer {
    width: calc(100vw - 10px);
  }

  .footer__row {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 0;
  }

  .footer__date {
    color: #a0a0a0;
    padding-top: 30px;
  }

  .footer__links {
    text-align: center;
    flex-direction: column;
  }

  .footer__link {
    padding-top: 10px;
    margin-left: 0;
  }

  .footer__annotation {
    font-size: 12px;
    letter-spacing: -0.5px;
  }
}
