.User-link {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  color: black;
}

.User-link:hover {
  border-bottom: 1px solid black;
}

.User-link__pic {
  margin-left: 24.25px;
  padding: 5px;
}

.header__profile {
  color:#2439F0;
  text-decoration: none;
}
