.search__wrapper {
    max-width: 1140px;
    width: calc(100vw - 60px);
    padding: 70px 0 80px;
    margin: auto;
    border-bottom: 1px solid #e8e8e8;
}

.search__line {
    display: flex;
    max-width: 1140px;
    width: 100%;
    background-color: #fdfdfd;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    max-height: 72px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.search__input {
    font-size: 18px;
    outline: 0;
    padding: 22px 0px;
    max-width: 860px;
    width: calc(100% - 250px);
    border: 0;
    text-indent: 63px;
    color: #a0a0a0;
    background: url("../../images/search.svg") no-repeat scroll 25px center;
}

.search__submit {
    background-color: black;
    width: 34px;
    height: 34px;
    border-radius: 48px;
    border: 0;
    background-image: url(../../images/search-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    transition: transform 0.15s ease-in-out;
}

.search__submit:hover {
    transform: scale(110%);
}

.search__toggle {
    visibility: hidden;
}

.search__delimiter {
    margin-left: 20px;
    background-color: #cbcbcb;
    height: 40px;
    width: 1px;
}

.search__toggle-label {
    cursor: pointer;
    width: 36px;
    height: 20px;
    background: #e8e8e8;
    display: block;
    border-radius: 100px;
    position: relative;
}

.search__toggle-label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.search__toggle:checked + .search__toggle-label {
    background: #2be080;
}

.search__toggle:checked + .search__toggle-label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.search__toggle-label:active:after {
    width: 10px;
}

.search__toggle-text {
    position: relative;
    top: -2px;
    font-size: 13px;
    margin-left: 50px;
}

.search__toggle-wrapper {
    padding: 46px;
    max-width: 170px;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .search__wrapper {
        padding: 95px 0 113px;
    }

    .search__input {
        width: calc(100% - 261px);
    }

    .search__toggle-label {
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 600px) {
    .search__input {
        width: calc(100% - 50px);
    }

    .search__wrapper {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 320px) {
    .search__wrapper {
        padding: 92px 0 0px;
        width: calc(100vw - 20px);
    }
    .search__input {
        background: none;
        text-indent: 19px;
        font-size: 14px;
        width: calc(100% - 53px);
        padding: 28px 0;
    }
}
  
