.techs {
    background-color: #f5f5f5;
    width: 100%;
    padding: 100px 0;
  }

.techs__inner {
    max-width: 1140px;
    margin: 0 auto;
    width: calc(100vw - 100px);
}
  
.techs__title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-top: 90px;
}

.techs__paragraph {
    margin: 26px auto 0;
    font-size: 14px;
    max-width: 460px;
    text-align: center;
}

.techs__list {
    padding-inline-start: 0;
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
}

.techs__item {
    width: 90px;
    background-color: #E8E8E8;
    border-radius: 10px;
    margin: 0 5px;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
}
  
@media screen and (max-width: 768px) {
    .techs {
      padding: 91px 0;
    }
  
    .techs__title {
      margin-top: 79px;
      letter-spacing: -2px;
    }
  
    .techs__paragraph {
      margin: 20px auto 0;
      letter-spacing: -1.5px;
      max-width: 440px;
    }
  
    .techs__list {
      margin-top: 85px;
    }
}

@media screen and (max-width: 600px) {
    .techs {
      padding: 90px 0;
      background-color: white;
    }
  
    .techs__inner {
      width: calc(100vw - 35px);
    }
  
    .techs__title {
      margin-top: 59px;
      letter-spacing: -2.2px;
      font-size: 32px;
    }
  
    .techs__list {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      row-gap: 11px;
    }
}
